::-webkit-scrollbar {
    width:5px;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    ::-webkit-scrollbar-track {
    background: $cinza1;
    }
    ::-webkit-scrollbar-thumb {
    background: $corPrimaria;
    }

.feedContainer{
    padding-bottom: 60px;
    background-color: $branco;

    .avatar{
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }

    .postagem {
        margin-top: 16px;

        .cabecalhoPostagem {
            display: flex;
            align-items: center;
            padding: 0px 12px;
            margin-bottom: 8px;

            

            strong {
                font-size: 12px;
                color: $cinza4;
            }
        }

        .fotoDaPostagem {
            img {
                width: 100%;
                height: auto;
                max-height: 360px;
                object-fit: cover;
            }
        }

        .rodapeDaPostagem {
            padding: 5px 16px;

            strong.nomeUsuario {
                font-size: 12px;
                float: left;
                margin-right: 4px;
                color: $cinza4;
            }

            p.descricao {
                font-size: 12px;
                margin: 0px 0px 2px;
                color: $cinza4;

                .exibirDescricaoCompleta {
                    font-size: 12px;
                    color: $corPrimaria3;
                    cursor: pointer;
                    margin-left: 4px;
                }
            }

            .acoesDoRodapeDaPostagem {
                display: flex;
                align-items: center;
                margin-bottom: 6px;

                > span {
                    margin-right: 4px !important;
                }

                .quantidadeCurtidas {
                    font-family: $fontLight;
                    font-size: 10px;
                    color: $cinza4;

                    strong {
                        font-size: 10px;
                    }
                }
            }

            .comentariosDaPublicacao {
                max-height: 100px;
                overflow-y: auto;
            }
        }

        .containerFazerComentario {
            display: flex;
            align-items: center;
            padding: 0px 12px;
            width: 100%;
            margin-bottom: 16px ;

            textarea {
                resize: none;
                flex: 1;
                max-width: 100%;
                border: none;
                outline: none;
                font-size: 12px;
                color: $cinza2;
            }
        }
    }
        @media screen and (min-width: $desktopBreakpoint) {
            padding-top: 8px;

            .postagem {
                .cabecalhoPostagem {
                    cursor: pointer;
                }
                
                .avatar {
                    width: 42px;
                    height: 42px;
                }

                .rodapeDaPostagem {
                    .acoesDoRodapeDaPostagem {
                        > span {
                            cursor: pointer;
                        }
                    }
                }

                .containerFazerComentario {
                    margin-top: 12px;

                    .btnPublicacao {
                        background-color: transparent;
                        color: $corPrimaria;
                        outline: none;
                        border: none;
                        font-size: 12px;
                        font-family: $fontBold;
                        cursor: pointer;
                    }
                }
            }
        }

    }
