@import '../public/fonts/fonts.scss';
@import 'variaveis.scss';
@import '../components/botao/botao.scss';
@import '../components/avatar/avatar.scss';
@import './paginaPublica.scss';
@import '../components/inputPublico/inputPublico.scss';
@import '../pages/cadastro/cadastro.scss';

html, #__next, body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: $fontRegular;
    font-size: 14px;
}

.oculto {
    display: none;
}

input {
    &::placeholder {
        color: $cinza2;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        color: $cinza2;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $cinza2;
        opacity: 1;
    }

}

.mensagemValidacao {
    display: block;
    color: $vermelho;
    font-size: 90%;
    margin-top: -5px;
    margin-bottom: 10px;
}

.desktop {
    @media screen and (min-width : $desktopBreakpoint) {
        display: block;
    }
    
    @media screen and (max-width : calc($desktopBreakpoint - 1px)) {
        display: none;
    }
}

.mobile {
    @media screen and (min-width : $desktopBreakpoint) {
        display: none;
    }
    
    @media screen and (max-width : calc($desktopBreakpoint - 1px)) {
        display: block;
    }
}
