@import '../public/fonts/fonts.scss';
@import 'variaveis.scss';
@import '../components/botao/botao.scss';
@import '../components/avatar/avatar.scss';
@import './paginaPublica.scss';
@import '../components/inputPublico/inputPublico.scss';

html, #__next, body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: $fontRegular;
    font-size: 14px;
}

.oculto {
    display: none;
}

input {
    &::placeholder {
        color: $cinza2;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        color: $cinza2;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $cinza2;
        opacity: 1;
    }

}